<nav>
  <ul>
    <!-- <li ><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact:true }"> Home </a></li> -->
    <li ><a routerLink="/home" routerLinkActive="active"> Home </a></li>
    <li><a routerLink="/dipic" routerLinkActive="active"> DipIC </a></li>
    <li><a routerLink="/smdic" routerLinkActive="active"> SmdIC </a></li>
    <li><a routerLink="/dipcapacitor" routerLinkActive="active"> DipCaptr </a></li>
    <li><a routerLink="/smdcapacitor" routerLinkActive="active"> SmdCaptr </a></li>
    <li><a routerLink="/diptransistor" routerLinkActive="active"> DipTrans </a></li>
    <li><a routerLink="/smdtransistor" routerLinkActive="active"> SmdTrans</a></li>
    <li><a routerLink="/dipdiodes" routerLinkActive="active"> DipDiode </a></li>
    <li><a routerLink="/smddiodes" routerLinkActive="active"> SmdDiode </a></li>
    <li><a routerLink="/ctcoil" routerLinkActive="active"> CTCoil </a></li>
    <li><a routerLink="/dipresistance" routerLinkActive="active"> DipResist </a></li>
    <li><a routerLink="/smdresistance" routerLinkActive="active"> SmdResist </a></li>
    <li><a routerLink="/salesitems" routerLinkActive="active"> SaleItm </a></li>
    <li><a routerLink="/boardinandout" routerLinkActive="active"> BIn&Out </a></li>
    <li><a routerLink="/" routerLinkActive="active"> LOGOUT </a></li>
  </ul>
  </nav> 
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <h3 class="responsive-table highlight center">VKS BOARD IN AND OUT</h3>
          <div class="col s24">

            <div class="input-field col s12">
              <label>Search:</label>
              <input matInput type="text" (keyup)="applyFilter($event)" #input>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="DC">
                <th mat-header-cell *matHeaderCellDef> DC </th>
                <td mat-cell *matCellDef="let element"> {{element.dc}} </td>
              </ng-container>

              <ng-container matColumnDef="CompanyName">
                <th mat-header-cell *matHeaderCellDef> CompanyName </th>
                <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
              </ng-container>


              <ng-container matColumnDef="BoardName">
                <th mat-header-cell *matHeaderCellDef>BoardName </th>
                <td mat-cell *matCellDef="let element">
                  {{element.boardname1}},
                  {{element.boardname2}},
                  {{element.boardname3}},
                  {{element.boardname4}},
                  {{element.boardname5}} </td>
              </ng-container>



              <ng-container matColumnDef="Handled Person">
                <th mat-header-cell *matHeaderCellDef> Handled Person </th>
                <td mat-cell *matCellDef="let element">
                  {{element.handledperson1}},
                  {{element.handledperson2}},
                  {{element.handledperson3}},
                  {{element.handledperson4}},
                  {{element.handledperson5}} </td>
              </ng-container>

              <ng-container matColumnDef="Remarks">
                <th mat-header-cell *matHeaderCellDef> Remarks </th>
                <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
              </ng-container>

              <ng-container matColumnDef="InDate">
                <th mat-header-cell *matHeaderCellDef> InDate </th>
                <td mat-cell *matCellDef="let element"> {{element.inDate|date:'yyyy-MM-dd'}} </td>
              </ng-container>

              <ng-container matColumnDef="OutDate">
                <th mat-header-cell *matHeaderCellDef> OutDate </th>
                <td mat-cell *matCellDef="let element"> {{element.outDate|date:'yyyy-MM-dd'}} </td>
              </ng-container>

              <ng-container matColumnDef="DC PDF">
                <th mat-header-cell *matHeaderCellDef> DC PDF </th>
                <td mat-cell *matCellDef="let element"> <button (click)="onEdit(element)"
                    (click)="generatePdf()">Generate DC</button> </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>