<nav>
  <ul>
    <!-- <li ><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact:true }"> Home </a></li> -->
    <li ><a routerLink="/home" routerLinkActive="active"> Home </a></li>
    <li><a routerLink="/dipic" routerLinkActive="active"> DipIC </a></li>
    <li><a routerLink="/smdic" routerLinkActive="active"> SmdIC </a></li>
    <li><a routerLink="/dipcapacitor" routerLinkActive="active"> DipCaptr </a></li>
    <li><a routerLink="/smdcapacitor" routerLinkActive="active"> SmdCaptr </a></li>
    <li><a routerLink="/diptransistor" routerLinkActive="active"> DipTrans </a></li>
    <li><a routerLink="/smdtransistor" routerLinkActive="active"> SmdTrans</a></li>
    <li><a routerLink="/dipdiodes" routerLinkActive="active"> DipDiode </a></li>
    <li><a routerLink="/smddiodes" routerLinkActive="active"> SmdDiode </a></li>
    <li><a routerLink="/ctcoil" routerLinkActive="active"> CTCoil </a></li>
    <li><a routerLink="/dipresistance" routerLinkActive="active"> DipResist </a></li>
    <li><a routerLink="/smdresistance" routerLinkActive="active"> SmdResist </a></li>
    <li><a routerLink="/salesitems" routerLinkActive="active"> SaleItm </a></li>
    <li><a routerLink="/boardinandout" routerLinkActive="active"> BIn&Out </a></li>
    <li><a routerLink="/" routerLinkActive="active"> LOGOUT </a></li>
  </ul>
  </nav> 
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #diptransistorForm="ngForm" (ngSubmit)="onSubmit(diptransistorForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="diptransistorService.selectedDiptransistor._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="diptransistorService.selectedDiptransistor.name" placeholder="Enter Name" required>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="qty" #qty="ngModel" [(ngModel)]="diptransistorService.selectedDiptransistor.qty" placeholder="Enter QTY" required>
                     
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="used" #used="ngModel" [(ngModel)]="diptransistorService.selectedDiptransistor.used" placeholder="Enter Used" required>
                    
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="instock" #instock="ngModel" [(ngModel)]="diptransistorService.selectedDiptransistor.instock" placeholder="Enter In Stock" required>
                     
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(diptransistorForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!diptransistorForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
              <div class="input-field col s12">
              <label>Search:</label>
              <input matInput type="text" (keyup)="applyFilter($event)" #input>
            </div>
            
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
              <!-- Position Column -->
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
             
              <!-- Name Column -->
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef>qty </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Used">
                <th mat-header-cell *matHeaderCellDef> Used </th>
                <td mat-cell *matCellDef="let element"> {{element.used}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="InStock">
                <th mat-header-cell *matHeaderCellDef> InStock </th>
                <td mat-cell *matCellDef="let element"> {{element.instock}} </td>
              </ng-container>
  
              <div matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <a class="action-btn" (click)="onEdit(element)">
                 <i class="material-icons">edit</i>
                  </a>
                  <a class="action-btn" (click)="onDelete(element._id,dipcapacitorForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </div>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>