 <nav>
  <ul>
    <!-- <li ><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact:true }"> Home </a></li> -->
    <li ><a routerLink="/home" routerLinkActive="active"> Home </a></li>
    <li><a routerLink="/dipic" routerLinkActive="active"> DipIC </a></li>
    <li><a routerLink="/smdic" routerLinkActive="active"> SmdIC </a></li>
    <li><a routerLink="/dipcapacitor" routerLinkActive="active"> DipCaptr </a></li>
    <li><a routerLink="/smdcapacitor" routerLinkActive="active"> SmdCaptr </a></li>
    <li><a routerLink="/diptransistor" routerLinkActive="active"> DipTrans </a></li>
    <li><a routerLink="/smdtransistor" routerLinkActive="active"> SmdTrans</a></li>
    <li><a routerLink="/dipdiodes" routerLinkActive="active"> DipDiode </a></li>
    <li><a routerLink="/smddiodes" routerLinkActive="active"> SmdDiode </a></li>
    <li><a routerLink="/ctcoil" routerLinkActive="active"> CTCoil </a></li>
    <li><a routerLink="/dipresistance" routerLinkActive="active"> DipResist </a></li>
    <li><a routerLink="/smdresistance" routerLinkActive="active"> SmdResist </a></li>
    <li><a routerLink="/salesitems" routerLinkActive="active"> SaleItm </a></li>
    <li><a routerLink="/boardinandout" routerLinkActive="active"> BIn&Out </a></li>
    <li><a routerLink="/" routerLinkActive="active"> LOGOUT </a></li>
  </ul>
  </nav> 
  

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #boardinandoutForm="ngForm" (ngSubmit)="onSubmit(boardinandoutForm)">
              <input type="hidden" name="_id" #_id="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="dc" #dc="ngModel"
                      [(ngModel)]="boardinandoutService.selectedBoardinandout.dc"
                      placeholder="Enter DC number" required>
                   
                  </div>
                </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="companyname" #companyname="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.companyname"
                    placeholder="Enter Company Name" required>
                 
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="sno1" #sno1="ngModel"
                  [(ngModel)]="boardinandoutService.selectedBoardinandout.sno1" placeholder="Enter serial number"
                  required>
                  <input type="text" name="boardname1" #boardname1="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.boardname1" placeholder="Enter Board Name1"
                    required>
                    <input type="text" name="qty1" #qty1="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.qty1" placeholder="Enter qty"
                    required>
                    <input type="text" name="problem1" #problem1="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.problem1" placeholder="Enter Problem1"
                >
              <input type="text" name="resolution1" #resolution1="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.resolution1" placeholder="Enter Resolution1"
                >
              <input type="text" name="handledperson1" #handledperson1="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.handledperson1"
                placeholder="Enter Handled Person1" >
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="sno2" #sno2="ngModel"
                  [(ngModel)]="boardinandoutService.selectedBoardinandout.sno2" placeholder="Enter serial number"
                  >
                  <input type="text" name="boardname2" #boardname2="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.boardname2" placeholder="Enter Board Name2"
                    >
                    <input type="text" name="qty2" #qty2="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.qty2" placeholder="Enter qty"
                    >
                    <input type="text" name="problem2" #problem2="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.problem2" placeholder="Enter Problem2"
                    >
                  <input type="text" name="resolution2" #resolution2="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.resolution2" placeholder="Enter Resolution2"
                    >
                  <input type="text" name="handledperson2" #handledperson2="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.handledperson2"
                    placeholder="Enter Handled Person2" >
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="sno3" #sno3="ngModel"
                  [(ngModel)]="boardinandoutService.selectedBoardinandout.sno3" placeholder="Enter serial number"
                  >
                  <input type="text" name="boardname3" #boardname3="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.boardname3" placeholder="Enter Board Name3"
                    >
                    <input type="text" name="qty3" #qty3="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.qty3" placeholder="Enter qty"
                    >
                    <input type="text" name="problem3" #problem3="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.problem3" placeholder="Enter Problem3"
                >
              <input type="text" name="resolution3" #resolution3="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.resolution3" placeholder="Enter Resolution3"
                >
              <input type="text" name="handledperson3" #handledperson3="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.handledperson3"
                placeholder="Enter Handled Person1" >
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="sno4" #sno4="ngModel"
                  [(ngModel)]="boardinandoutService.selectedBoardinandout.sno4" placeholder="Enter serial number"
                  >
                  <input type="text" name="boardname4" #boardname4="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.boardname4" placeholder="Enter Board Name4"
                    >
                    <input type="text" name="qty4" #qty4="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.qty4" placeholder="Enter qty"
                    >
                    <input type="text" name="problem4" #problem4="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.problem4" placeholder="Enter Problem4"
                >
              <input type="text" name="resolution4" #resolution4="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.resolution4" placeholder="Enter Resolution4"
                >
              <input type="text" name="handledperson4" #handledperson4="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.handledperson4"
                placeholder="Enter Handled Person1" >
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="sno5" #sno5="ngModel"
                  [(ngModel)]="boardinandoutService.selectedBoardinandout.sno5" placeholder="Enter serial number"
                  >
                  <input type="text" name="boardname5" #boardname5="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.boardname5" placeholder="Enter Board Name5"
                    >
                    <input type="text" name="qty5" #qty5="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.qty5" placeholder="Enter qty"
                    >
                    <input type="text" name="problem5" #problem5="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.problem5" placeholder="Enter Problem5"
                >
              <input type="text" name="resolution5" #resolution5="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.resolution5" placeholder="Enter Resolution5"
                >
              <input type="text" name="handledperson5" #handledperson5="ngModel"
                [(ngModel)]="boardinandoutService.selectedBoardinandout.handledperson5"
                placeholder="Enter Handled Person5" >
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12" >
                  <textarea type="textarea" rows="5" style="height: 150px;" column="70" name="remarks" #remarks="ngModel"
                    [(ngModel)]="boardinandoutService.selectedBoardinandout.remarks" placeholder="Enter Remarks"
                    required>
                  </textarea>
                </div>
              </div>
             
              <div class="row">
                <div class="input-field col s12">
                  <mat-form-field>
                    <input matInput  name="inDate" #inDate="ngModel" [matDatepicker]="picker" [(ngModel)]="boardinandoutService.selectedBoardinandout.inDate" placeholder="In Date" >
                    <mat-datepicker-toggle type="button" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput  name="outDate" #outDate="ngModel" [matDatepicker]="picker1" [(ngModel)]="boardinandoutService.selectedBoardinandout.outDate" placeholder="Out Date">
                    <mat-datepicker-toggle type="button" matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <!-- <mat-slide-toggle name="checked" #checked="ngModel" [(ngModel)]="boardinandoutService.selectedBoardinandout.toggle" ></mat-slide-toggle> -->
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button"
                    (click)="resetForm(boardinandoutForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit"
                    [disabled]="!boardinandoutForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
         
        
         
          <br><br>
          <div class="input-field col s12">
            <label>Search:</label>
            <input matInput type="text" (keyup)="applyFilter($event)" #input>
          </div>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="DC">
              <th mat-header-cell *matHeaderCellDef> DC </th>
              <td mat-cell *matCellDef="let element"> {{element.dc}} </td>
            </ng-container>

            <ng-container matColumnDef="CompanyName">
              <th mat-header-cell *matHeaderCellDef> CompanyName </th>
              <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
            </ng-container>
           
            <!-- Name Column -->
            <ng-container matColumnDef="BoardName">
              <th mat-header-cell *matHeaderCellDef>BoardNames </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.boardname1}},
                {{element.boardname2}},
                {{element.boardname3}},
                {{element.boardname4}},
                {{element.boardname5}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Problem">
              <th mat-header-cell *matHeaderCellDef> Problem(s) </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.problem1}},
                {{element.problem2}},
                {{element.problem3}},
                {{element.problem4}},
                {{element.problem5}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Resolution">
              <th mat-header-cell *matHeaderCellDef> Resolution(s) </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.resolution1}},
                {{element.resolution2}},
                {{element.resolution3}},
                {{element.resolution4}},
                {{element.resolution5}} </td>
            </ng-container>

            <ng-container matColumnDef="Handled Person">
              <th mat-header-cell *matHeaderCellDef> Handled Person(s) </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.handledperson1}},
                {{element.handledperson2}},
                {{element.handledperson3}},
                {{element.handledperson4}},
                {{element.handledperson5}}, </td>
            </ng-container>

            <ng-container matColumnDef="Remarks">
              <th mat-header-cell *matHeaderCellDef> Remarks </th>
              <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
            </ng-container>

            <ng-container matColumnDef="InDate">
              <th mat-header-cell *matHeaderCellDef> InDate </th>
              <td mat-cell *matCellDef="let element"> {{element.inDate|date:'yyyy-MM-dd'}} </td>
            </ng-container>

            <ng-container matColumnDef="OutDate">
              <th mat-header-cell *matHeaderCellDef> OutDate </th>
              <td mat-cell *matCellDef="let element"> {{element.outDate|date:'yyyy-MM-dd'}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="Toggle">
              <th mat-header-cell *matHeaderCellDef> Toggle </th>
              <td mat-cell *matCellDef="let element"> {{element.toggle}} </td>
            </ng-container> -->

            <div matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>
                Action
              </th>
              <td mat-cell *matCellDef="let element">
                <a class="action-btn" (click)="onEdit(element)">
                  {{boardinandout}}
                  <i class="material-icons">edit</i>
                </a>
                <a class="action-btn" (click)="onDelete(element._id,boardinandoutForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </div>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
            
          </div>
        </div>
      </div>
</div>