
<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">VKS Electronics</mat-toolbar>
      <mat-card>
        <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit(loginForm)">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" name="username" [(ngModel)]="username" matInput placeholder="Username" >
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" name="password" [(ngModel)]="password" matInput placeholder="Password" >
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
      </mat-card>
    </div>
  </div>