.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin-top:10%;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

h1{
  margin: auto;
  width: 50%;
  padding: 10px;
}